#Ignore All
*

## Then Exclude:

#repo files
!.gitignore
!.gitmodules
!README.md

#project specific directories
!/rtl/
!/lib/
!/const/
!/IP/
!/vrf/
!/bitstream/

!/rtl/**/
!/lib/**/
!/const/**/
!/IP/**/
!/vrf/**/
!/bitstream/**/

#Source files
!*.vhd
!*.v
!*.sv
!*.bd
!*.xdc
!*.xci
!*.ucf

#Bitstream / Flash Files
!*.bit
!*.mcs

#Save only IP configuration files
/IP/**/*.*
!*.xco

#TCL to generate the project in the ise_project folder
!/ise_project/
/ise_project/*
!/ise_project/ise_project.tcl