#Ignore All
*

## Then Exclude:

#repo files
!.gitignore
!.gitmodules
!README.md

#project specific directories
!/rtl/
!/lib/
!/const/
!/IP/

!/rtl/**/
!/lib/**/
!/const/**/
!/IP/**/

#Source files
!*.vhd
!*.v
!*.sv
!*.bd
!*.xdc
!*.xci

#Save only IP configuration files
/IP/**/*.*
!*.xco

#TCL to generate the project in the ise_project folder
!/ise_project/
/ise_project/*
!/ise_project/ise_project.tcl